<% provide(:title, 'Help') %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Help</h1>
    <ul>
      <li>The site is used to keep track of HIMB fieldsites.</li>
      <li>You need to create an account to add sites and projects.</li>
      <li>Projects are a collection of sites, and can be made up of existing sites or sites you add yourself. When adding a site, please give an accurate GPS coordinate and explain clearly the usage of the site. This includes how the site is situated around the GPS cooridnate and whether you're happy to share the site or would prefer others' didn't use it.</li>
      <li>Only the people who create projects and sites can edit them. You can delete your own project, but sites can only be deleted by an admin (because they may be used by other people), so please contact Josh if you want a site deleted.</li>
      <li>Try to use icons that differentiate your sites from other projects.</li>
      <li>You can download sites and projects, and site for particular projects, using the CSV links on the various pages.</li>
      <li>Contact Josh, Shimi or Dan for further assistance.</li>
    <ul>
  </div>
</div>
