<div class="row">
	<div class="col-md-8 col-md-offset-2">

    <h1>Editing Fieldsite</h1>

    <%= render 'form', site: @site %>

    <%= link_to 'Show', @site %> |
    <%= link_to 'Back', sites_path %>

  </div>
</div>
