<div class="row">
	<div class="col-md-12">
		<h3>Fieldsites</h3>
		<p><%= link_to 'New Fieldsite', new_site_path, class: "btn btn-primary" %></p>
		<p>Download sites: <%= link_to "CSV", sites_path(format: "csv") %></p>

		<div id='map'></div>

		<br>


		<ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-2">
            <strong>Site name</strong>
          </div>
					<div class="col-md-3">
            <strong>Site description</strong>
          </div>
          <div class="col-md-2">
            <strong>Latitude</strong>
          </div>
          <div class="col-md-2">
            <strong>Longitude</strong>
          </div>
					<div class="col-md-1">
            <strong>Icon</strong>
          </div>
          <div class="col-md-2">
            <strong>Shared</strong>
          </div>
        </div>
      </li>
      <%= render @sites %>
    </ul>

  </div>
</div>

<script>
	function initMap() {
		var bounds = new google.maps.LatLngBounds();
    var sites = <%= raw @sites.map {|i| [i.site_name.to_s, i.latitude.to_s, i.longitude.to_s, i.id.to_s, i.color.to_s] } %>;

    var map = new google.maps.Map(document.getElementById('map'), {
			maxZoom: 18,
      // center: new google.maps.LatLng(21.458369, -157.807275),
      mapTypeId: google.maps.MapTypeId.SATELLITE,
      streetViewControl: false
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < sites.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(sites[i][1], sites[i][2]),
				icon: {
	      	path: google.maps.SymbolPath.BACKWARD_OPEN_ARROW,
	      	scale: 5,
					strokeColor: sites[i][4],
	    	},
        map: map
      });

			bounds.extend(marker.position);

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent('<a data-no-turbolink="true" href="/sites/'+sites[i][3]+'">'+sites[i][0]+'</a>');
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
		map.fitBounds(bounds);

  }
  $(document).ready(initMap);
  $(document).on('page:load', initMap);
</script>
